---
name: Build

on:
  push:
    branches-ignore:
      - master
    tags-ignore:
      - "*"
  pull_request: {}

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true

      - name: Test
        run: make tests

      - name: Build
        run: make build
